<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /pickleball-marketing-agency/

  RewriteRule ^index\.html$ - [L]

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /pickleball-marketing-agency/index.html [L]
</IfModule>
